.dashboard{
    margin-left: 1.48rem;;
    margin-top: 1.48rem;;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 1.48rem;;
}

.dashboardMetas{
    width: 100%;
    height: 16rem;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:  1.48rem;;
}

.dashboardMetas {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #026df7, #4a9dff, #7ab7ff, #a5d0ff, #cce4ff, #fff);
    background-size: 600% 600%; /* Aumenta o tamanho do fundo */
    animation: gradientAnimation 15s linear infinite; /* Ajusta a função de tempo para linear */
}

/* Definindo a animação do degradê */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.border{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.containersubcards{
    width: 100%;
    height: 16rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.48rem;
    align-items: stretch;
    justify-content: center;
}

.containersubcards > div{
    background-color: #fff;
    border-radius: 20px;
    width: 31.9%;
}

.containerfinal{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.48rem;
    align-items: stretch;
}

.item1{
    width: 66%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.item2{
    width: 31.9%;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}



