.sidebar {
  display: flex;
  width: 18rem;
  background-color: red;
  color: #000;
  height: 100vh;
  padding-top: 20px;
}

.menuItem {
  padding: 15px;
  cursor: pointer;
}

.menuItem:hover {
  background-color: #f8f8fa;
}

.submenu {
  padding-left: 20px;
}

.submenuItem {
  display: block;
  color: #5b5c63;
  text-decoration: none;
  padding: 5px 0;
}

.submenuItem:hover {
  color: #fff;
}
