.sidebar {
  display: flex;
  flex-direction: column;
  width: 18rem;
  background-color: #fff;
  color: #000;
  height: 100vh;
}
.sidebarheader{
  height: 4rem;
}

.sidebarmenu{
  height: 100%;
}

.menuItem {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.menuItem:hover {
  background-color: #f8f8fa;
}

.submenu {
  padding-left: 20px;
}

.submenuItem {
  display: block;
  color: #5b5c63;
  text-decoration: none;
  padding: 5px 0;
}

.submenuItem:hover {
  color: #fff;
}

.submenuItem{
  border: none;
  background-color: transparent;
}

.submenuItem:hover{
  color:blue;
}
