.containerList{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    height: 100vh;
    
}

.dados{
  margin-top: 2rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 20px;

  }
  
  .list_dados {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    color: #000;
    list-style-type: none;
  }

  .add{
    display: flex;
    justify-content: end;
  }
  
  .list_dados_map {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    list-style-type: none;
    border-bottom: #dddee1 0.5px solid ;
  }

  