.containerList{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.dados{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .list_dados {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    color: #9da2b7;
    list-style-type: none;
  }
  
  .list_dados_map {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    list-style-type: none;
  }